body {
    background-color: #18303F;
}

h1 {
    color: #ffffff;
    font-family: "Verdana", "Helvatica", sans-serif;
}

p {
    color: #ffffff;
    font-family: "Verdana", "Helvatica", sans-serif;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom:auto;
    height: 30%;
    width: 30%;
}

.tvmblock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom:auto;
    height: 13%;
    width: 13%;
}

.logoimg {
    display: inline;
    height: 50px;
    width: 50px;
}

.logoimgrectangle {
    display: inline;
    height: 20px;
    width: 50px;
}

.headertext {
    display: inline;
    height: 50px;
    width: 50px;
    padding: 20px 20px;
    font-size: 36px;
}

.aligndiv {
    margin: auto;
    width: 96%;
    padding: 8px 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0%;
}

.square {
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    background-color: #18303F;
    color: #ffffff;
}

.square img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.square.fullImg {
    padding: 0;
}

.square.fullImg img {
    object-fit: cover;
}