body {
    background-color: #165399;
}

h1 {
    color: #ffffff;
    font-family: "Verdana", "Helvatica", sans-serif;
}

p {
    color: #ffffff;
    font-family: "Verdana", "Helvatica", sans-serif;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom:auto;
    height: 20%;
    width: 20%;

}
