body {
    background-color: #165399;
}

h1 {
    color: #ffffff;
    font-family: "Verdana", "Helvatica", sans-serif;
}

p {
    color: #ffffff;
    font-family: "Verdana", "Helvatica", sans-serif;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom:auto;
    height: 20%;
    width: 20%;
}

.logoimg {
    display: inline;
    height: 50px;
    width: 50px;
}

.headertext {
    display: inline;
    height: 50px;
    width: 50px;
    padding: 20px 20px;
    font-size: 36px;
}

.aligndiv {
    margin: auto;
    width: 95%;
    padding: 8px 1px;
}

.trainlist {
    font-size: 24px;
    font-family: "Verdana", "Helvatica", sans-serif;
    color: #ffffff;
}

.trainlist:hover {
    font-size: 24px;
    font-family: "Verdana", "Helvatica", sans-serif;
    color: #BBBBBB;
}